* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* HERO */
.hero {
  min-height: 100vh;
  background: linear-gradient(135deg, #0c0219, #1b0433);
  display: flex;
  align-items: center;
  padding: 30px;
}

.hero-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  border-radius: 10px;
  background: linear-gradient(135deg, #1a0430, #0c0219);
  padding: 40px;
}

/* LEFT */
.hero-left {
  padding: 20px;
}

.hero-left h1 {
  color: #a56cff;
  font-size: 40px;
}

.hero-left span {
  color: #caa8ff;
}

.hero-left p {
  color: #e0d7ff;
  line-height: 1.6;
  font-size: 15px;
  margin-top: 10px;
}

/* STATS */
.stats {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.stats h2 {
  color: #b88cff;
  font-size: 22px;
}

.stats span {
  color: #ccc;
  font-size: 14px;
}

/* SOCIAL */
.social {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.social a {
  width: 42px;
  height: 42px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #b88cff;
  font-size: 1.2rem;
  box-shadow: 0 0 8px #a56cff;
  transition: 0.3s;
  text-decoration: none;
}

.social a:hover {
  background: #caa8ff;
  color: #020617;
}

/* RIGHT */
.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  width: 300px;
  height: auto;
  border-radius: 20px;
}

/* 📱 RESPONSIVE */
@media (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 25px;
  }

  .stats {
    justify-content: center;
  }

  .stacker2 ul {
    justify-content: center;
  }

  .hero-right img {
    width: 230px;
  }

  .hero-left h1 {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 20px;
  }

  .hero-left h1 {
    font-size: 24px;
  }

  .hero-left p {
    font-size: 14px;
  }

  .stacker h1 {
    font-size: 22px;
  }

  .stacker2 a {
    font-size: 14px;
  }
}
